<h1><%=Team%></h1>

<%var memberOfTeam = false%>
<%Team.users.forEach(function(singleUser){
    if(singleUser._id.equals(currentUser._id)){
        memberOfTeam = true
    }
})%>

<!--Displaying Members of Team-->
<%Team.users.forEach(function(singleUser){%>
    <div><%=singleUser.name%> : (<%=singleUser.username%>)</div>
<%})%>

<%if(memberOfTeam){%>
    <!--Leave Team-->
    <form action="/user/<%=currentUser._id%>/teams/<%=Team._id%>/leaveuser/?_method=PUT" method="POST">
        <button>Leave Team</button>
    </form>
    
    <!--Add User to Team-->
    <form action="/user/<%=currentUser._id%>/teams/<%=Team._id%>/adduser/?_method=PUT" method="POST">
        <label for="username">Add Members to Team</label>
        <input type="text" id="username" name="username" placeholder="Enter username">
        <button>Add</button>
    </form>
    
    <!--Adding New Post-->
    <form action="/user/<%=currentUser._id%>/posts/team/<%=Team._id%>" method="POST">
        <input type="text" name="body" placeholder="New Post here...">
        <button>Submit Post</button>
    </form>
    
    <!--Displaying posts here-->
    <%Team.posts.forEach(function(foundPost){%>
        <div><%=foundPost.body%></div>
        <div>By: <%=foundPost.author.name%> (<%=foundPost.author.username%>)</div>
        <%if(foundPost.author.username == currentUser.username){%>
            <form action="/user/<%=currentUser._id%>/posts/<%=foundPost._id%>/?_method=DELETE" method='POST'>
                <button>Delete</button>
            </form>
            <form action="/user/<%=currentUser._id%>/posts/<%=foundPost._id%>/edit" method='GET'>
                <button>Edit</button>
            </form>
        <%}%>
        <hr>
    <%})%>
<%}%>