<h1>Hi <%=currentUser.name%></h1>

<p><a href="/user/<%=currentUser._id%>/profile">Profile</a></p>
<p><a href="/user/<%=currentUser._id%>/explore">Explore</a></p>
<p><a href="/user/<%=currentUser._id%>/followers">Followers</a></p>
<p><a href="/user/<%=currentUser._id%>/followings">Followings</a></p>
<p><a href="/user/<%=currentUser._id%>/teams/my">My Teams</a></p>
<p><a href="/user/<%=currentUser._id%>/teams">Teams</a></p>
<p><a href="/user/<%=currentUser._id%>/groups/my">My Groups</a></p>
